.container {
  padding: 40px;
}

.image {
  border-radius: 10px;
}

.noPhotoBox {
  width: 180px;
  height: 180px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  font-size: 16px;
  line-height: 1.8;
}
