.request-succeeded-container {
    max-width: 32rem;
    margin: 2.5rem auto;
    padding: 1.5rem;
    border-radius: 0.75rem;
    text-align: center;

    .request-id {
        display: block;
        position: relative;
        margin: 1rem 0;
        padding: 0.75rem 1.5rem;
        background: var(--color-bg);
        font-size: 1rem;
        font-weight: bold;
        border-radius: 0.5rem;

        .ant-typography-copy {
            position: absolute;
            right: 0.5rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .btn-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        gap: 0.5rem;
        flex-wrap: wrap;
        
        button {
            width: 100%;
        }
    }
}